.container {
  width: 100%;
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  
  @media (max-width: 576px) {
    justify-content: center;
    flex-direction: column;
    gap: 16px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.link {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-regular);
  color: var(--color-base-08);
  text-decoration: none;
  transition: all 0.3s;
}

.link:hover {
  text-decoration: underline;
  color: var(--color-primary-05);
}
